# CDK asset staging directory
.cdk.staging/
cdk.out/

# Node modules
node_modules/

# Built TypeScript files
*.d.ts
*.js
!jest.config.js
!cdk.json

# npm
package-lock.json
npm-debug.log*
yarn-error.log*

# Misc
*.swp
*.swo
*~
.DS_Store

# Editor
.vscode/
.idea/
*.iml
